[Unit]
Description=mic2led system
After=network.target sound.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/repos/mic2led
ExecStart=/home/pi/repos/mic2led/start_audio.sh
Restart=always

[Install]
WantedBy=multi-user.target
