[Unit]
Description=Start udp2gpio and basic.pd at boot
After=network.target sound.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/repos/mic2led
ExecStart=/usr/bin/python3 /home/pi/repos/mic2led/udp2gpio.py
ExecStartPost=/home/pi/repos/mic2led/start_audio.sh
Restart=always

[Install]
WantedBy=multi-user.target
